body{
	background-image: url("../images/flooding_tab.png");
	background-color: #cccccc;
	text-align: center;
	/*background-color: gray;*/
}

.text-muted{
	color: yellow;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}

/*.container{
	margin: 0 auto;	
}*/